.el-alert {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: 4px;
}

.el-alert-success {
  background-color: $successBgColor;
  color: $success;
}

.el-alert-info {
  background-color: $infoBgColor;
  color: $info;
}

.el-alert-warning {
  background-color: $waringBgColor;
  color: $waring;
}

.el-alert-error {
  background-color: $errorBgcolor;
  color: $error;
}

.el-alert-fade-enter-active, .el-alert-fade-leave-active {
  transition: opacity .5s;
}
.el-alert-fade-enter, .el-alert-fade-leave-to {
  opacity: 0;
}