.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-color: #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.el-button + .el-button {
  margin-left: 10px;
}

.el-button-primary {
  color: #FFFFFF;
  background-color: #409EFF;
  border-color: #409EFF;
}

.el-button-success {
  color: #FFFFFF;
  background-color: #67C23A;
  border-color: #67C23A;
}

.el-button-info {
  color: #FFFFFF;
  background-color: #909399;
  border-color: #909399;
}

.el-button-warning {
  color: #FFFFFF;
  background-color: #E6A23C;
  border-color: #E6A23C;
}

.el-button-danger {
  color: #FFFFFF;
  background-color: #F56C6C;
  border-color: #F56C6C;
}