// 因为 opacity 会影响子元素，所以需要单独出去
.v-model {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: #000;
  animation: modal-fade-in 0.2s;
}

.v-model-leave {
  animation: modal-fade-out 0.2s ease forwards;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
}

@keyframes modal-fade-out {
  to {
    opacity: 0;
  }
}
